:root {
  --gray: #2e4756;
  --light-gray: #d3d3d3;
  --dark-gray: #1a2a32;
  --yellow: #f2b147;
  --turquoise: #3cc4bf;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SHARED UTILITY */

.hidden {
  display: none !important;
}

.yellow {
  color: var(--yellow);
}

.turquoise {
  color: var(--turquoise);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 4px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

/* TURN */

.turn {
  grid-column: 1 / span 2;

  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--yellow);
}

.turn i {
  font-size: 1.6rem;
  margin-left: 10px;
  animation: 0.6s ease-in-out turn-icon-animation;
}

.turn p {
  font-size: 16px;
  animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ACTIONS */

.actions {
  position: relative;
}

.actions-btn {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: white;
  background-color: rgba(211, 211, 211, 0.05);
  border: 1px solid transparent;
  border-radius: 10px;
}

.actions .items {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 10;

  background-color: #203139;
  border-radius: 2px;
  padding: 10px;
}

.actions .items button {
  background-color: transparent;
  color: white;
  padding: 8px;
}

.actions .items button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.square {
  background-color: var(--light-gray);
}

.score {
  background-color: var(--yellow);
}

/* FOOTER */

footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}
